body {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
}

.video-printed {
  display: flex;
}

.search-bar {
  text-align: center;
  margin: 20px;
}

.search-bar input {
  width: 75%;
}

/* .video-item img {
  max-width: 64px;
} */

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.media-object {
  padding: 10px 1rem;
}

.video-list {
  display: flex;
}

.media-heading {
  margin: 0 auto;
}
